* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.app {
    max-width: 1000px;
    background: #F8F8F8;
    margin: 30px auto;
    overflow: hidden;
    height: 800px;
    border: 1px solid black;
}

.home-container {
    background: #fff;
    padding: 10px;
}

.home-logo {
    fill: white;
    width: 35px;
    height: 35px;
}

.home-button {
    background-color: #2C3A57;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-color: #fff;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.home-font {
    font-family: 'Poppins', sans-serif;
    display: inline;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #2C3A57
}

.category-container {
    height: 150px;
    max-width: 650px;
    display: flex;
    align-items: center;
}

.category-item-container {
    height: 100px;
    width: 100px;
    background: #fff;
    margin: 5px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.category-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    height: 45px;
}

.category-item-name {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.arrow {
    width: 15px;
    margin: 15px;
}

.menu-container {
    /* background: grey; */
    width: 650px;
    height: 578px;
    padding: 15px;
    overflow: hidden;
}

.menu-category-font {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.menu-line {
    position: relative;
    background: rgb(209, 209, 209);
    left: 100px;
    top: -10px;
    width: 510px;
    height: 1px;
}

.menu-main-container::-webkit-scrollbar {
    display: none;
}

.menu-main-container {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    position: relative;
    left: -15px;
    width: 650px;
    height: 540px;
    grid-area: bottom;
    grid-gap: 27.5px;
    grid-template-columns: 180px 180px 180px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.menu-item-container {
    width: 180px;
    height: 210px;
    background: #F8F8F8;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-left: 27.5px;
    margin-top: 20px;
    overflow: hidden;
    cursor: default;
}

.menu-item-container img {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.menu-item-description {
    width: 180px;
    height: 80px;
    margin-top: 10px;
    background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
}

.menu-text-wrap {
    white-space: nowrap;
    max-height: 20px;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item-text {
    font-family: 'Tahoma', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.menu-price {
    margin-top: 10px;
    font-size: 12px;
    width: 100px;
    color: red;
    display: inline-block;
    vertical-align: middle;
}

.menu-cart {
    margin-top: 10px;
    margin-left: 20px;
    fill: white;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 7px;
    border-radius: 10px;
    background: red;
    cursor: pointer;
}

.cart-container {
    position: relative;
    top: -798px;
    left: 650px;
    padding: 20px;
    height: 800px;
    width: 350px;
    background: #fff;
    box-shadow: #000;
    z-index: 0;
    box-shadow: -2px 0px 10px grey;
}

.cart-logo {
    fill: #f80000;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.cart-header {
    /* background-color: #000; */
    vertical-align: middle;
    margin-bottom: 30px;
}

.cart-font {
    font-family: 'Poppins', sans-serif;
    display: inline;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f80000;
}

.dine-button {
    display: inline;
    background: #E9F0FF;
    color: #2C3A57;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    float: right;
}

.cart-main-container {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 550px;
}

.cart-main-container::-webkit-scrollbar {
    display: none;
}

.cart-item-container {
    position: relative;
    background: white;
    width: 300px;
    min-height: 70px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: 1px solid rgb(230, 230, 230);
    margin: 0 0 10px 0
}

.cart-item-image-wrap {
    position: absolute;
    width: 80px;
    height: 100%;
    overflow: hidden;
}

.cart-item-image {
    position: relative;
    top: calc(50% - 20px);
    display: block;
    height: 40px;
    margin: auto;
}

.cart-text-wrap {
    /* background: black; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 80px;
    max-width: 200px;
}

.cart-item-text {
    font-family: 'Tahoma', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

.cart-item-detail {
    -webkit-line-clamp: 1;
    max-width: 200px;
    font-size: 10px;
    color: grey;
    margin-top: 0px;
    font-weight: normal;
}

.cart-item-quantity {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 100px;
}

.cart-quantity {
    width: 25px;
    height: 25px;
    border: 2px solid #FC9393;
    border-radius: 5px;
    padding: 4px;
    fill: red;
    cursor: pointer;
}

.cart-quantity-label {
    display: inline-block;
    width: 70px;
    height: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    vertical-align: top;
}

.cart-item-price {
    display: inline;
    position: relative;
    top: -30px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: red;
    margin-right: 5px;
    float: right
}

.cart-item-tax {
    position: absolute;
    top: calc(100% - 15px);
    right: 0px;
    font-size: 7px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.001px;
}

.cart-checkout {
    /* background: cyan; */
    position: relative;
    left: -20px;
    height: 150px;
    width: 350px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4E4E4E;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

.cart-payment {
    background: red;
    height: 50px;
    width: 300px;
    margin: 55px auto 0 auto;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.cart-payment p {
    position: relative;
    font-size: 24px;
    color: white;
    top: calc(50% - 12px);
    display: block;
    margin: auto;
}